.shadow {
  box-shadow: var(--shadow);
}

.container-small {
  padding: 0.625rem;
  border-radius: 20px;
  background-color: white;
}

.grey-input {
  background-color: var(--grey-1);
  border-radius: 20px;
  border: 1.5px solid var(--grey-1);
  padding: 1rem;
  min-height: 3rem;
  width: 100%;
  transition: 0.3s;
  margin: 5px 0 18px;
}

.grey-input.big-input {
  min-height: 11.5rem;
}

::placeholder {
  font-weight: 400;
  font-size: .875rem;
  color: var(--grey-3);
  transition: 0.3s;
}

.grey-input:focus {
  border: 1.5px solid var(--grey-3);
  box-shadow: var(--shadow);
}

.grey-input:hover::placeholder {
  color: var(--grey-4);
  padding-left: 6px;
}

.grey-input:focus::placeholder {
  opacity: 0;
}

option {
  background-color: var(--grey-1);
  color: var(--grey-3);
  transition: 0.3s;
  font-size: .875rem;
}

option:hover {
  background-color: var(--grey-2);
  color: var(--grey-4);
}

button {
  cursor: pointer;
  border-radius: 30px;
  padding: 1rem 2rem;
  transition: 0.3s;
}

.bg-dark {
  background-color: var(--grey-4);
  color: white;
}

button.bg-dark:hover {
  background-color: var(--grey-3);
  box-shadow: var(--shadow);
}

.bg-green {
  background-color: var(--color-primary);
  color: white;
}

button.bg-green:hover {
  filter: brightness(1.2);
}

.bg-white {
  background-color: white;
  color: var(--grey-4);
}

button.bg-white:hover {
  background-color: var(--grey-2);
}

.bg-invalid {
  background-color: var(--grey-1);
  color: var(--grey-3);
}

button.bg-invalid:hover {
  background-color: var(--grey-2);
}