.title1 {
  font-size: 1.25rem;
}

.title2 {
  font-size: 1.125rem;
}

.title3 {
  font-size: 1rem;
}

.title4 {
  font-size: 0.875rem;
}

.helper {
  font-size: 0.75rem;
}

.semibold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.color-dark {
  color: var(--grey-4);
}

.color-light {
  color: white;
}

.color-grey {
  color: var(--grey-3);
}